@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


body {
	animation: transitionIn 0.75s;

}


html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}


/* width */
*::-webkit-scrollbar {
	width: 3px;
}

/* Track */
*::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
	background: #f1f1f1;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}

@keyframes transitionIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* .container {
	padding-left: 100px;
	padding-right: 100px;
} */

.rationale-content .title {
	font-family: "Montserrat", sans-serif;
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
}

.rationale-content .content {
	font-family: "Montserrat", sans-serif;
	text-align: left;
	letter-spacing: 1px;
	margin-bottom: 20px;
	margin-right: 80;
	color: #71797E;
	margin-left: 80;
	/* text-indent: 50px; */
}


.rationale-content .contents {
	font-family: "Montserrat", sans-serif;
	text-align: left;
	letter-spacing: 1px;
	margin-bottom: 20px;
	margin-right: 80;
	margin-left: 80;
	/* text-indent: 50px; */
	line-height: 22px;
	color: #71797E;

}

.log {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}

.logo {
	text-align: center;

}

#back-to-top-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 26px;
	width: 50px;
	height: 50px;
	background-color: #fff;
	color: #333;
	cursor: pointer;
	outline: none;
	border: 3px solid #333;
	border-radius: 50%;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-property: background-color, color;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
	background-color: #333;
	color: #fff;
}

.btnEntrance {
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: btnEntrance;
}

.rationale-content .contentObjective {
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1px;

}

@keyframes btnEntrance {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.btnExit {
	animation-duration: 0.25s;
	animation-fill-mode: both;
	animation-name: btnExit;
}

@keyframes btnExit {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
}




.sticky-nav {
	position: sticky;
	top: 0;
	z-index: 1000;
	background: #f8f9fa;
	/* keeps background solid */
}

footer,
footer *:not(.fa, .fas, .fab, .far) {
	font-family: "Courier Prime", monospace !important;
	color: #71797E;
}